# Ignore pycache
__pycache__

# Except .
!.github/
!.gitignore
!.dockerignore

# Ignore items in test (report, cache, etc), except files starting with test
tests/logs
tests/tmp.db
!tests/test*
!tests/test_certs
!pytest.ini
!tests/passwd
!tests/passwd_bad

# Ignore logs/data/certs
logs/*
data/*
!data/web*
certs/*

# Except README in logs/data/certs
!logs/README.md
!data/README.md
!certs/README.md

venv/
.idea/