mypy==0.950
pre-commit==2.18.1
pylint==2.13.9
pytest==7.1.1
pytest-aiohttp==1.0.4
pytest-asyncio==0.18.3
pytest-cov==3.0.0
pytest-env==0.6.2
pytest-timeout==2.1.0
testfixtures==6.18.5
types-cachetools==5.0.1
types-setuptools==57.4.14
